:root {
  --global-background: #FAFAFA;
  --action-panel-background: #F0F0F0;
  --global-font-size: 18px;
}

html {
  font-size: var(--global-font-size);
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  background: var(--global-background);  /**/
  min-width: 320px;
}

.app-box {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  font: italic 1em Roboto, serif;
  padding: 10px 0;
}

header, footer, main, section {
  width: calc(100% - 20px);
  padding: 0 10px;
}

header, footer{
  text-align: center;
  font: italic 1.25em "Fira Sans", serif;
  margin: 10px auto 0;
}

.control-panel{
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding: 10px;
  background:var(--action-panel-background);
}
.control-panel__filters{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.control-panel__filter-button {
  height: auto;
  border: none;
  font: 0.75em "Fira Sans", serif;
  color: #AAAAAA;
  background: none;
  outline: none;
  border-radius: 5px;
  padding:  2px;
}
.active_filter {
  color: #000000;
}

.control-panel__actions {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.control-panel__control-button{
  width: 90px;
  font: 0.75em "Fira Sans", sans-serif;
  border-radius: 5px;
  border: 1px darkorange solid;
  background: var(--global-background);
  outline: none;
  padding:  7px 10px;
}

.control-panel__filter-button:hover{
  color: #555555;
  background: var(--action-panel-background);
}

.control-panel__control-button:hover {
  background: #cccccc;
}

.new-todo {
  background: var(--action-panel-background);
}

.new-todo-input {
  height: 30px;
  width: calc(100% - 20px);

  border: none;
  outline: none;
  font: italic 1em "Fira Sans", serif;
  padding: 0 10px;
  margin-bottom: 10px;
}

.frame-border {
  font: italic 1em "Fira Sans", serif;
  padding: 10px 0 10px 10px;
  border-bottom: 1px darkorange solid;
}

.todo-list{
  clear: both;
  display: flex;
  flex-direction: column;
}

.todo-object{
  height: 100%;
  width: calc(100% - 20px);
  padding: 15px 10px 5px 10px;

  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: space-between;
}

.elem-list-checkbox{
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.elem-list-checkbox+label{
  display: flex;
  align-items: center;
  user-select: none;
}

.elem-list-checkbox+label::before {
  content: '';
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  align-self: flex-end;
  border: 1px solid darkorange;
  border-radius: 0.25em;
  margin-right: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.elem-list-checkbox:checked+label::before {
  border-color: var(--global-background);
  background-color: #0b76ef;
  background-image: url(../img/checkbox_white.png);
}

.completed {
  text-decoration: line-through;
}


.elem-list-input-label {
  height: 100%;
  width: calc(100% - 70px);
  font: 1em "Fira Sans", serif;
  align-self: center;
  line-height: 1.25em;
  vertical-align: center;

  outline: none;
  border: 0;
  overflow:hidden;
  word-wrap: break-word;

  padding: 0;
  margin: 0;
}

.elem-list-input{
  height: 100%;
  width: 100%;
  vertical-align: center;
  font: 1em "Fira Sans", serif;
  line-height: 1em;

  align-self: center;
  border: none;
  border-radius: 0;
  background: bisque;
  outline: none;
  padding: 0;
  margin: 0;
}


.elem-list-delete{
  width: 2em;
  height: 2em;
  outline: none;
  border: none;
  border-radius: 5px;
  background: center / cover url('../img/del.jpg');
}

.todo-object:hover > .elem-list-delete{
  visibility: visible;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.75em;
}

@media (min-device-width: 768px){
  .app-box{
    width: 768px;
  }

  .control-panel {
    align-items: center;
  }

  .control-panel__filters{
    flex-direction: row;
    /*background: darkolivegreen;*/
  }
  .control-panel__filter-button{
  margin-left: 20px;
  }

  .control-panel__actions{
    flex-direction: row;
    /*background: darkolivegreen;*/
  }
  .control-panel__control-button{
    height: auto;
    margin-left: 20px;
  }

  .elem-list-delete{
    visibility: hidden;
  }
  .elem-list-delete:hover{
    visibility: unset;
  }


}